body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background: fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}


/* header */

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100px;
}

.header-inner {
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
    align-items: center;
}

.nav {
    font-size: 13px;
    font-weight: 700;
    display: flex;
}

.nav-link {
    margin-left: 60px;
    color: #fff;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity .1s linear;
}

.nav-link:first-child {
    margin-left: 0;
}

.nav-link:hover {
    text-decoration: underline;
    opacity: 1;
}

.intro {
    height: 750px;
    background: url(/img/bg.jpg) center no-repeat;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-inner {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.intro-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}